extends layout

block content
  a(href='https://github.com/guineitor/blockchain')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo
    br
    p Pontos Solange 07/09:
    p Botar uma fee fixa para facilitar cálculos de troco, etc (0,0001 por bloco)
    p Verificação e controle de troco (se o usuário não botar o troco pra ele mesmo, por default o troco vai para o minerador.)
    p Controle dos Saldos na carteira. (Qnt cada um tem, restrição de quanto pode mandar baseado) 


    p LINK PARA O TRABALHO - BLOCKCHAIN DEMO
    p https://github.com/Guineitor/blockchain-demo

    p Os blocos contém:

    p "Bloco:"-> Id do bloco.
    p "Nonce"-> Representa a dificuldade.
    p “DE / PARA”: São os nomes dos participantes envolvidos nas transações. Cada um com o seu endereço associado. O “De” representa o remetente e o “Para” o destinatário da transação. Isto é, ao digitar o endereço da carteira, o nome de seu dono aparece nos campos em questão. 
    p Participantes da rede:


    p Eduardo
    p 39981B0880B1956BFCCBBA9260BB848CCD28ED2651E11553C53489847A252BA4
    p Solange
    p 3C56715664A646445083CD44011B309C0B423149DCE60BEC272E825E3115C0DD
    p Carla
    p AD8D83FFD82B5A8ED429E8592B5CB3E6E83A033770868A1A00C6FD1E7FAE242C
    p Satoshi Nakamoto
    p A0DC65FFCA799873CBEA0AC274015B9526505DAAAED385155425F7337704883E
    p Itamar
    p 26DDA94DB37658833998316E1B3F9B19704D48AED3A6F1FFF1F775C4A8C77ED6

    p "Coinbase"-> Transação de remuneração do minerador de cada bloco. Ao invés do endereço da carteira, utiliza-se o nome do minerador para identifica-lo e o fee representa o montante remunerado para ele pelo serviço de mineração prestado.
    p “Fee”-> recompensa paga ao minerador de cada bloco.

    p Neste blockchain, a taxa de recompensa para o minerador é fixa em 5% do somatório do valor de cada transação, ou seja, se o total transacionado for de 100 tokens, a recompensa do minerador será de 5 tokens.
    p O botão “Minerar” executa a mineração do bloco e calcula o fee a ser pago ao minerador.


    p.pull-right thanks 
      a(href='https://github.com/anders94/blockchain-demo') anders94


      
